
html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /*
    background-image: url('Img/keyboard.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    position: relative;
    z-index: -1;
    */
    

    font-size: 22px;
    height: 100%;
    margin: 0;
}
p{
    margin: 10px;
}
#position-wrapper {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
   /* z-index:-1; /* Remove this line if it's not going to be a background! */
}
section{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffffe;
}

#main-content{
    background-color: #bbbbbb;
    display: flex;
    justify-content: center;

    align-items: center;
    min-width: 500px;
    min-height: 400px; 
}

#overhead{
    display: flex;
    justify-content: center;
}
input{
    height: 20px;
    padding: 0;
    text-indent: 5px;
}

#login{
    align-items: flex-start;
}

button{
    width: 100%;

}

@media only screen and (max-width: 426px) {
    #main-content{
    min-width: 310px;
    min-height: 210; 
    }
}
/*
@media only screen and (min-width: 1200px) {
    #main-content{
        /*background-color: #ffffff; 
        min-width: 1000;
        min-height: 650;
  
}
**/

header{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px; 
}

.header-right {
    float: right;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 10px; 
    background-color: #f1f1f1;
    color: rgb(7, 7, 7);
    text-align: center;
 }

 .footer a:hover {
    background-color: #ddd;
    color: black;
}


